<section id="about" class="about">
  <div class="container">
    <h2 class="about-title">About <span class="about-accent">me</span></h2>
    <div class="about-box">
      <div class="about-info">
        <div class="about-picture">
          <picture>
            <source
              srcset="./img/webp/d-about.webp 1x, ./img/webp/d-about@2x.webp 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/webp/t-about.webp 1x, ./img/webp/t-about@2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/webp/m-about.webp 1x, ./img/webp/m-about@2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              src="./img/webp/m-about.webp"
              alt="Developers`s photo"
              width="320"
              height="374"
              class="about-image"
            />
          </picture>
        </div>
        <div class="about-bio">
          <h3 class="about-list-title">BIO</h3>
          <ul class="about-bio-list">
            <li class="about-bio-mark">
              <p class="about-bio-descr">
                I'm Lloyd Jefferson, a talented programmer specializing in
                software development. My expertise spans various programming
                languages and technologies, and I am dedicated to continually
                enhancing my skills. I thrive on seeking unconventional and
                creative solutions to problems, leveraging a high level of
                analytical skills to effectively tackle even the most
                challenging tasks.
              </p>
            </li>
            <li class="about-bio-mark">
              <p class="about-bio-descr">
                Adaptable to both independent and team-oriented work, I
                collaborate seamlessly with colleagues, exchanging ideas and
                finding optimal solutions. My professional maturity enables me
                to navigate challenges and stressful situations with a calm
                demeanor, maintaining a consistently high quality of work.
                Committed to self-improvement, I actively engage in studying new
                technologies and practices to stay current with the latest
                innovations in the field.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-knowledge">
      <ul class="about-list">
        <li class="about-list-mark">
          <h3 class="about-list-title">EDUCATION</h3>
          <ul class="about-text">
            <li class="about-text-mark">
              <p class="about-text-descr">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </p>
            </li>
            <li class="about-text-mark">
              <p class="about-text-descr">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </p>
            </li>
            <li class="about-text-mark">
              <p class="about-text-descr">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </p>
            </li>
          </ul>
        </li>
        <li class="about-list-mark">
          <h3 class="about-list-title">ROLE</h3>
          <ul class="about-text">
            <li class="about-text-mark">
              <p class="about-text-descr">Frontend development</p>
            </li>
            <li class="about-text-mark">
              <p class="about-text-descr">HeadlessCMS, Wordpress</p>
            </li>
            <li class="about-text-mark">
              <p class="about-text-descr">Blender (enjoy)</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
