<footer class="footer">
  <div class="footer-container">
    <a href="#" class="footer-logo">
      <span class="footer-logo-bold">LLOYD</span><span class="footer__logo-green">JEFFERSON.</span>
    </a>
    <ul class="footer-socials">
      <li><a class="link-social" href="#">Instagram</a></li>
      <li><a class="link-social" href="#">Facebook</a></li>
      <li><a class="link-social" href="#">Linkedin</a></li>
      <li><a class="link-social" href="#">GitHub</a></li>
    </ul>
  </div>
  <p class="footer-copyright">
    © Copyright 2024. <br class="br">Made by LloydJefferson
  </p>
</footer>