<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <footer class="footer">
    <div class="footer-container">
      <a href="#" class="footer-logo">
        <span class="footer-logo-bold">LLOYD</span><span class="footer__logo-green">JEFFERSON.</span>
      </a>
      <ul class="footer-socials">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">GitHub</a></li>
      </ul>
    </div>
    <p class="footer-copyright">
      © Copyright 2024. <br class="br">Made by LloydJefferson
    </p>
  </footer>
</body>

</html>