<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <a href="#" class="footer-logo">
        <span class="footer-logo-black">LLOYD</span><span class="footer-logo-green">JEFFERSON.</span>
      </a>
      <ul class="footer-socials">
        <li><a class="link-social" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a></li>
        <li><a class="link-social" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a></li>
        <li><a class="link-social" href="https://www.linkedin.com/school/goit-start-your-career-in-it"
               target="_blank">Linkedin</a></li>
        <li><a class="link-social" href="https://github.com/psv0782/ChooseMe" target="_blank">GitHub</a></li>
      </ul>
    </div>
    <p class="footer-copyright">&#169; Copyright 2025. <br class="made">Made by LloydJefferson
    </p>
  </div>
</footer>