<section class="hero">
  <div class="container">
    <div class="hero-area">
      <h1 class="hero-title">
        Hello, I am
        <img
          class="hero-photo"
          srcset="./img/webp/d-hero.webp 1x, ./img/webp/d-hero@2x.webp 2x"
          src="./img/webp/d-hero.webp"
          alt="Lloyd`s photo"
          width="108"
          height="108"
        /><span class="hero-accent">Fullstack developer</span>
      </h1>
      <div class="hero-info">
        <div class="hero-order">
          <svg class="hero-icon" width="28" fill="none">
            <use href="./img/icons.svg#arrow-hero"></use>
            >
          </svg>
          <a class="hero-link" href="#work-together">Order the project</a>
        </div>
        <h4 class="hero-descr">
          I work with people all over the world to create
          <span class="hero-accent">impressive</span> and
          <span class="hero-accent">functional websites</span>
          that reflect each client’s unique personality.
        </h4>
      </div>
    </div>
    <ul class="hero-media-list">
      <li class="hero-media-descr">
        <a
          class="hero-media-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >Instagram</a>
      </li>
      <li class="hero-media-descr">
        <a
          class="hero-media-link"
          href=" https://www.facebook.com/goITclub/"
          target="_blank"
        >Facebook</a>
      </li>
      <li class="hero-media-descr">
        <a
          class="hero-media-link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
        >Linkedin</a>
      </li>
      <li class="hero-media-descr">
        <a
          class="hero-media-link"
          href="https://psv0782.github.io/ChooseMe/"
          target="_blank"
        >GitHub</a>
      </li>
    </ul>
  </div>
</section>
