<section class="reviews">
  <div class="container">
    <h2 class="title_reviews">reviews</h2>
    <div class="swiper">
      <ul class="swiper-wrapper" id="reviews-container">
        <!-- Динамічно додані слайди будуть тут -->
      </ul>
      <!-- Кнопки навігації -->
      <div class="error-message visually-hidden">No reviews found</div>
      <div class="swiper-btns">
        <button class="swiper-button-prev" aria-label="previous">
          <svg class="arr-btn" width="24" height="24">
            <use href="./img/icons.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-button-next" aria-label="next">
          <svg class="arr-btn" width="24" height="24">
            <use href="./img/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
