<section class="skills">
  <div class="skills-info">
    <h2 class="visually-hidden">Tech skills</h2>
    <div class="marquee">
      <div class="marquee-inner">
        <div class="marquee-line">
          <ul class="skills-list">
            <li class="skills-item"><h3 class="skills-text">HTML/CSS</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">JavaScript</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">React</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">Node.js</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item">
              <h3 class="skills-text">React Native</h3>
            </li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">Typescript</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">HTML/CSS</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">JavaScript</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">React</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">Node.js</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item">
              <h3 class="skills-text">React Native</h3>
            </li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">Typescript</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="marquee rotate">
      <div class="marquee-inner">
        <div class="marquee-line rotate">
          <ul class="skills-list">
            <li class="skills-item">
              <h3 class="skills-text">HTML/CSS</h3>
            </li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item">
              <h3 class="skills-text">JavaScript</h3>
            </li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item">
              <h3 class="skills-text">React</h3>
            </li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item">
              <h3 class="skills-text">Node.js</h3>
            </li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item">
              <h3 class="skills-text">React Native</h3>
            </li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item">
              <h3 class="skills-text">Typescript</h3>
            </li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">HTML/CSS</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">JavaScript</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">React</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">Node.js</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item">
              <h3 class="skills-text">React Native</h3>
            </li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
            <li class="skills-item"><h3 class="skills-text">Typescript</h3></li>
            <li class="skills-item">
              <div class="skills-dot">
                <svg class="dot" width="8" height="8" fill="none">
                  <use href="./img/icons.svg#dot"></use>
                </svg>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
