/* Styles About Me */
.about-title {
  text-align: left;
  margin-bottom: 40px;
}

.about-accent {
  color: var(--accet-green);
}

.about-image {
  margin: 0 auto;
}

.about-bio {
  position: relative;
  max-width: 336px;
  margin-top: 40px;
}

.about-list-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 32px;
}

.about-bio-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-bio-descr,
.about-text-descr {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.about-list-mark {
  max-width: 384px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-text-mark {
  position: relative;
  padding-left: 32px;
}

.about-text-mark::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  background-color: var(--accet-green);
  top: 10px;
  left: 10px;
  right: 18px;
}

@media screen and (min-width: 768px) {
  .about .container {
    width: 704px;
  }

  .about-title {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }

  .about-info {
    display: flex;
    gap: 32px;
  }

  .about-image {
    margin-top: 408px;
    min-width: 336px;
    height: 392px;
  }

  .about-bio {
    min-width: 336px;
  }

  .about-list-title {
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 0.01em;
  }

  .about-list {
    flex-wrap: nowrap;
    gap: 32px;
  }

  .about-list-mark {
    max-width: 336px;
  }

  .about-text {
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .about .container {
    min-width: 1210px;
  }

  .about-box {
    padding-left: 208px;
  }

  .about-info {
    display: inline-flex;
    gap: 136px;
  }

  .about-image {
    margin-top: 310px;
    min-width: 384px;
    height: 448px;
  }

  .about-bio {
    max-width: 488px;
  }

  .about-bio-list {
    max-width: 480px;
  }

  .about-knowledge {
    padding-left: 208px;
  }

  .about-list {
    gap: 136px;
  }

  .about-list-mark {
    max-width: 384px;
  }
}

/* Background for Tablet and Desktop */
@media screen and (min-width: 768px) {
  .about-bio::after {
    position: absolute;
    content: '';
    width: 100%;
    min-height: 252px;
    background-size: 336px 252px;
    background-image: url(../img/webp/t-about-bg.webp);
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .about-bio::after {
    background-image: url(../img/webp/t-about-bg@2x.webp);
  }
}

@media screen and (min-width: 1280px) {
  .about-bio::after {
    width: 384px;
    min-height: 288px;
    background-size: 384px 288px;
    background-image: url(../img/webp/d-about-bg.webp);
    top: 500px;
    left: 100px;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .about-bio::after {
    background-image: url(../img/webp/d-about-bg@2x.webp);
  }
}
