/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Impact", sans-serif;
  --third-family: "Montserrat", sans-serif;

  --black: #292929;
  --black-dt: #1e2023;
  --hover-grey: #bbbbbb;
  --hover-green: #009156;
  --light-accet: #bcdfd1;
  --light-grey: #e4e5e6;
  --white: #f0f0f0;
  --accet-green: #00b068;
  --accet-green-dt: #14c57c;
  --error: #e74a3b;
  --charcoal-dt: #2a2d32;
  --dark-accet-dt: #204136;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
}

/* Styles for Mobile devices */
section {
  padding: 40px 0;
}

section:first-child {
  padding-top: 0;
}

section:last-child {
  padding-bottom: 80px;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  section {
    padding: 62px 0;
  }

  section:last-child {
    padding-bottom: 124px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1280px) {
  section {
    padding: 82px 0;
  }

  section:last-child {
    padding-bottom: 164px;
  }
}

.dark h3,
.dark p {
  color: var(--white);
}

h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
