.faq {
  display: flex;
  min-width: 320px;
  min-height: 100%;
}

.faq-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.faq-title {
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}

.faq-title-span {
  color: #00b068;
}

.faq-decor {
  display: none;
  width: 526px;
}

.accordion-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  min-width: 320px;
  min-height: 100%;
}

.arrow-icon {
  stroke: #292929;
  fill: transparent;
  flex-shrink: 0;
  transition: transform 0.25s ease;
}

.transform {
  transform: rotate(180deg);
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .faq-div {
    gap: 60px;
  }

  .faq-title {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    width: 592px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1280px) {
  .faq-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 98px;
  }

  .title-div {
    display: flex;
    flex-direction: column;
    gap: 220px;
  }

  .faq-title {
    width: 520px;
    margin-bottom: 0;
  }

  .faq-decor {
    display: flex;
  }

  .accordion-container {
    margin-top: 276px;
    width: 592px;
  }
}

/* Стилі для роботи акордеона
Скопійовані з GitHub першоджерела та відредаговані під макет
для того щоб виключити примусове (через !importent) написання
Стилі першоджерела відключені в js файлі*/

.ac {
  border-bottom: 1px solid var(--light-grey);
  background-color: transparent;
  box-sizing: border-box;
  padding: 28px 24px;
}

.ac.is-active {
  border-radius: 16px;
  padding: 28px 24px;
  width: 100%;
  background: #bcdfd1;
  border-bottom: 0;
}

.ac .ac-header {
  margin: 0;
  padding: 0;
}

.ac .ac-trigger {
  font: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  text-decoration: none;
  margin: 0;
  border: 0;
  gap: 16px;
}

.ac .ac-trigger::after {
  content: '';
  text-align: center;
  width: 15px;
  transform: translate(0, -50%);
  position: absolute;
  right: 10px;
  top: 50%;
}

.ac .ac-trigger:focus {
  color: var(--black);
}

.ac .ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.ac .ac-panel .ac-text {
  font: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  padding: 8px;
  margin: 0;
}

.ac.js-enabled .ac-panel {
  visibility: hidden;
}

.ac.is-active .ac-panel {
  visibility: visible;
  margin-top: 24px;
}

/* Styles for Tablet devices for accordion*/
@media only screen and (min-width: 768px) {
}

/* Styles for Desktop devices for accordion*/
@media only screen and (min-width: 1280px) {
  .accordion-container {
    margin-top: 276px;
    width: 592px;
  }
}

/* Dark theme */
.dark .faq-title {
  color: var(--white);
}

.dark .faq-title-span {
  color: #14c57c;
}

.dark .ac {
  border-bottom-color: var(--white);
}

.dark .ac.is-active {
  background-color: #204136;
}

.dark .ac-trigger:focus {
  color: var(--white);
}

.dark .ac-trigger {
  color: var(--white);
}

.dark .arrow-icon {
  stroke: var(--white);
}
