.hero-area {
  position: relative;
  background-image: url(../img/webp/m-hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 704px;
  z-index: 2;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-area {
    background-image: url(../img/webp/m-hero-bg@2x.webp);
  }
}

.hero-title {
  padding-top: 96px;
  margin-bottom: 40px;
}

.hero-photo {
  display: none;
}

.hero-accent {
  color: var(--accet-green);
}

.hero-order {
  position: relative;
  display: flex;
  align-items: center;
  width: 320px;
  height: 92px;
}

.hero-icon {
  fill: var(--accet-green);
  margin-right: 12px;
}

.hero-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.dark .hero-link {
  color: var(--white);
}

.hero-link::after {
  position: absolute;
  content: '';
  width: 165px;
  height: 92px;
  border-radius: 16px;
  background-color: var(--light-accet);
  top: 0;
  left: 155px;
  z-index: -1;
}

.hero-order:hover .hero-link::after,
.hero-order:focus .hero-link::after {
  background-color: var(--accet-green);
}

.dark .hero-link::after {
  background-color: var(--accet-green);
}

.dark .hero-order:hover .hero-link::after,
.dark .hero-order:focus .hero-link::after {
  background-color: var(--hover-green);
}

.hero-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 56px;
}

.hero-media-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--light-grey);
  padding-top: 32px;
  padding-bottom: 32px;
}

.dark .hero-media-list {
  background-color: var(--charcoal-dt);
}

.hero-media-link {
  font-family: var(--font-family);
}

.hero-media-link:hover,
.hero-media-link:focus {
  color: var(--accet-green);
}

@media screen and (min-width: 768px) {
  .hero-area {
    background-image: url(../img/webp/t-hero-bg.webp);
    background-size: 704px 896px;
  }

  .hero-title {
    font-weight: 400;
    font-size: 136px;
    line-height: 115%;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
  }

  .hero-order {
    width: 320px;
    height: 92px;
  }

  .hero-link {
    font-size: 20px;
    line-height: 160%;
  }

  .hero-link::after {
    width: 261px;
    height: 96px;
  }

  .hero-descr {
    font-size: 20px;
    line-height: 160%;
  }

  .hero-media-list {
    flex-direction: row;
    gap: 40px;
    padding: 40px 146px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-area {
    background-image: url(../img/webp/t-hero-bg@2x.webp);
  }
}

@media screen and (min-width: 1280px) {
  .hero-area {
    position: relative;
    background-image: url(../img/webp/d-hero-bg.webp);
    background-size: 1216px 772px;
  }

  .hero-title {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .hero-photo {
    display: block;
    width: 108px;
    height: 108px;
    margin-left: 40px;
  }

  .hero-info {
    display: flex;
    gap: 136px;
    align-items: center;
    margin-bottom: 116px;
  }

  .hero-order {
    margin-left: 72px;
    width: 416px;
    height: 96px;
  }

  .hero-descr {
    width: 592px;
  }

  .hero-media-list {
    padding: 40px 402px;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-area {
    background-image: url(../img/webp/d-hero-bg@2x.webp);
  }
}
