.title_reviews {
  display: flex;
  justify-content: center;

  text-align: center;

  margin: 0 0 40px;
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .title_reviews {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }

}


.swiper-slide {
  flex-shrink: 0;
  width: 100%;
   background-color: var(--light-grey);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: row;
}


.dark .swiper-slide {
  display: flex;
  flex-direction: row;
  border-radius: 16px !important;
  padding: 32px;

  background-color: #2a2d32;
}


.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--black);
  border-radius: 8px;
  width: 40px !important;
  height: 40px !important;
  margin-top: 20px !important;
}

.dark .swiper-button-next,
.dark .swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 8px;
  width: 40px !important;
  height: 40px !important;
  margin-top: 20px !important;
  background-color: var(--black);
}

.swiper-btns {
  display: flex;
  justify-content: right;
  gap: 24px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  background-color: var(--light-grey);
}

.dark .swiper-button-prev:hover,
.dark .swiper-button-next:hover,
.dark .swiper-button-prev:focus,
.dark .swiper-button-next:focus {
  background-color: #3b3f45;
}

.swiper-button-disabled {
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.dark .swiper-button-disabled {
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  opacity: 0.1;
  pointer-events: none;
  cursor: default;
  background-color: var(--black);
}

.arr-btn {
  stroke: var(--black);
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark .arr-btn {
  stroke: var(--white);
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
}

.review-card img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 100%;
}

.review-text {
  display: flex;
  align-items: center;
  width: 256px;
  height: 168px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
}

.dark .review-text {
  display: flex;
  align-items: center;
  height: 168px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .review-text {
    width: 640px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .review-text {
    width: 528px;
  }
}

.review-card h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
}

.dark .review-card h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--white);
}

.review-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.error-message {
  display: flex;
  justify-content: center;
  color: var(--error);
}
