                  /* Work together */
 .img-together {
    display: none;
 }
 .together-title {
     /* font-family: "Impact", sans-serif; */
     /* font-weight: 400; */
     font-size: 52px;
     line-height: 1.23;
     /* letter-spacing: 0.03em;
     text-transform: uppercase; */
     color: #292929;
     margin-bottom: 40px;
     /* margin-top: 80px; */
 }

 .together-style {
    color: var(--accet-green);
 }

 .together-contacts {
    margin-bottom: 40px;
 }

 .icons-together {
    stroke: var(--accet-green);
    fill: var(--white);
    margin-right: 16px;
 }

 .text-contacts {
    /* font-family: "Poppins", sans-serif; */
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    /* letter-spacing: 0.03em; */
    text-transform: uppercase;
    color: var(--black);
    padding-bottom: 32px;
 }

 .addr {
    font-style: normal;
 }

 .addr-item {
    padding-bottom: 16px;
 }

 .addr-item-link {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--black);
    text-transform: none;
}

 .addr-item-link:hover {
    color: var(--accet-green);
 }

 .form-container {
    width: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.together-input {
    margin-bottom: 32px;
}

 .together-input-email {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    width: 100%;
    background-color: var(--light-grey);
    border: none;
    border-radius: 8px;
    color: #292929;
 }

 ::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--black);
 }

 .form-user-comment {
    padding-left: 16px;
    padding-top: 16px;
    width: 100%;
    height: 128px;
    border: none;
    border-radius: 8px;
    background-color: var(--light-grey);
    resize: none;
 }

 .together-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--white);
    border-radius: 8px;
    background: var(--accet-green);
    border: none;
    width: 340px;
    height: 48px;
    margin-top: 32px;
    /* margin-bottom: 80px; */
 }

 .together-btn:hover {
    background: var(--hover-green);
 }

 @media screen and (min-width: 768px) {
    .img-together {
        display: flex;
        position: absolute;
        top: 0;
        z-index: -1;
        pointer-events: none;
        width: 336px;
        height: 260px;
        right: 40px;
    }

    .together-title {
        /* margin-top: 124px; */
        margin-bottom: 60px;
        margin-right: 197px;
        font-size: 108px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        width: 507px;
     }

    .together-contacts {
       margin-bottom: 60px;
}
     .text-contacts {
        font-size: 20px;
     }

     .addr-list {
        display: flex;
        gap: 16px;
        list-style: none;
        padding: 0;
     }

     .together-input-email {
        width: 704px;
     }

     .addr-item {
        padding-bottom: 0px;

     }
    .form-user-comment {
        width: 704px;
    }
     .together-btn {
        /* margin-bottom: 124px; */
        width: 173px;
     }

 }

 @media screen and (min-width: 1280px) {
    .img-together {
        display: flex;
        position: absolute;
        top: 0;
        z-index: -1;
        pointer-events: none;
        width: 526px;
        height: 408px;
        margin-right: 0;
        }
     .together-title {
        margin-bottom: 80px;
        margin-right: 183px;
        width: 507px;
     }

     .work-together {
        display: flex;
        gap: 136px;
     } 

    .together-contacts {
        margin-bottom: 0px;
    }
    
     .text-contacts {
        padding-bottom: 120px;
     }

     .addr-list {
        flex-direction: column;
     }

    .form-container {
        width: 592px;
    }

 }

        /* Modal window */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop:not(.hidden) {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    padding: 48px 32px;
    border: 1px solid var(--light-grey);
    border-radius: 16px;
    width: 256px;
    max-width: 500px;
    text-align: center;      

}

.modal-title {
    color: var(--accet-green);
    /* font-weight: 400; */
    font-size: 20px;
    line-height: 1.6;
    /* letter-spacing: 0.03em;
    text-transform: uppercase; */
    text-align: center;
    margin-bottom: 16px;
}

.modal-text {
    /* font-weight: 300;
    font-size: 16px; */
    /* line-height: 1.5;
    letter-spacing: 0.03em; */
    text-align: center;
    color: var(--black);
    text-transform: none;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-close-icon {
    width: 24px;
    height: 24px;
    stroke: var(--black);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 364px;
        min-height: 280px;
        padding: 64px 64px;
     }
    .modal-close-btn {
        top: 20px;
        right: 20px;
    }

}

